header {
	background-image: url('img/Banner_principal.png');
	background-size: cover;
	background-position: center;
	min-height: 40vh; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #e85d04;
	padding: 40px 20px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.5);
	border-bottom: 15px solid rgba(0,0,0,0.9);
}

.btn-inicio {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 60px; 
	height: 60px;

	transition: transform 0.3s ease;
	z-index: 10;
}

.btn-inicio img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	/* filter: invert(1); <-- Recuerda descomentar esto si tu logo es negro */
}

.btn-inicio:hover {
	transform: scale(1.1);
	cursor: pointer;
}
